@charset "UTF-8";
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Mobile sceeen 320 */
.mobile--hidden {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: auto;
  font-family: "TT Lakes";
}

main {
  background-color: #F8F8F8;
}

/* Upper Panel */
.header {
  display: flex;
  white-space: wrap;
  padding: 18px 16px;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9FFF5;
  height: 88px;
}
.header__burger {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(/public/assets/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  order: -6;
}
.header__logo {
  padding-left: 16px;
  order: -4;
}
.header__divider {
  border-radius: 1px;
  background: #EAEAEA;
  width: 2px;
  height: 32px;
  margin-left: auto;
  margin-right: 20px;
  order: -3;
}
.header__quick-menu2 {
  display: none;
  order: 0;
}
.header__quick-menu1 {
  display: flex;
  gap: 16px;
  order: 0;
}
.header__settings {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(/public/assets/icons/repair.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__status {
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(/public/assets/icons/checkstatus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Title text */
.title > .desktop-menu {
  display: none;
}

.title {
  padding-top: 24px;
}
.title__text {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  margin-left: 16px;
}
.title__text::before {
  content: "";
  border-right: 4px solid #00f8cf;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  left: -16px;
}

/* Scroll list */
.scroll-wrapper {
  position: relative;
}
.scroll-wrapper::before {
  content: "";
  background: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
  width: 24px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.scroll-wrapper::after {
  content: "";
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
  width: 24px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.scroll-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding-left: 12px;
  color: #7E7E82;
  padding-top: 24px;
  padding-bottom: 2px;
  gap: 4px;
}
.scroll-list::-webkit-scrollbar {
  overflow: hidden;
}
.scroll-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 16px;
  font-family: "TT Lakes";
  font-weight: 500;
  line-height: 24px;
  padding: 8px 12px;
  margin-left: 4px;
  transition: border-color 0.3s;
}
.scroll-list__btn:hover {
  border: #b8ffec;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.scroll-list__btn:focus {
  outline: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #FFFFFF;
}

/* Main text */
.about-us {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-us__description {
  padding: 0 16px;
}
.about-us__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.2px;
  min-width: 288px;
  height: 130px;
  overflow: hidden;
}
.about-us__button {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.about-us__button::before {
  content: url(/public/assets/icons/expand.svg);
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 10px;
}
.about-us__banner {
  margin-top: 16px;
}

/* Tablet sceeen 768*/
@media screen and (min-width: 768px) {
  main > .scroll-list {
    margin-bottom: 10px;
  }
  .tabled--hidden {
    display: none;
  }
  body {
    height: auto;
    min-width: 768px;
    font-family: "TT Lakes";
  }
  .header__divider2 {
    border-radius: 1px;
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    margin-left: 20px;
    order: -4;
  }
  .header__quick-menu2 {
    display: flex;
    gap: 16px;
    order: -2;
    margin-left: auto;
  }
  .header__divider {
    order: -1;
    margin-left: 20px;
  }
  .header_quick-menu1 {
    gap: 16px;
    order: -1;
  }
  .header__call {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(/public/assets/icons/call.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__message {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(/public/assets/icons/message.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    background-image: url(/public/assets/icons/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    padding-left: 24px;
    padding-right: 24px;
  }
  .title__text {
    margin-left: 0;
  }
  .title__text::before {
    left: -24px;
  }
  .about-us {
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 24px;
  }
  .about-us__description {
    padding: 0;
  }
  .about-us__text {
    font-family: inherit;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    width: 350px;
    height: auto;
    overflow: hidden;
  }
  .about-us .mobile--hidden {
    display: flex;
  }
  .about-us__banner {
    margin-top: 0;
    align-self: baseline;
    height: 208px;
    width: 360px;
  }
  .about-us .about-us__text + .about-us__text {
    height: 43px;
  }
}
/* Desktop sceeen 1120*/
@media screen and (min-width: 1120px) {
  body {
    background-color: #F8F8F8;
  }
  main {
    padding: 0 calc((100vw - 1120px) / 2);
  }
  main > .scroll-list {
    margin-bottom: 0;
  }
  .header--hidden {
    display: none;
  }
  .title {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
  }
  .title > .desktop-menu {
    display: flex;
    gap: 162px;
    margin-right: 8px;
  }
  .header__settings--text,
  .header__status--text {
    position: relative;
  }
  .header__settings--text::before {
    content: "Оставить заявку";
    white-space: nowrap;
    position: absolute;
    right: 48px;
    top: 9px;
    font-family: inherit;
    font-weight: 500;
  }
  .header__status--text::before {
    content: "Статус ремонта";
    white-space: nowrap;
    position: absolute;
    right: 48px;
    top: 9px;
    font-family: inherit;
    font-weight: 500;
  }
  .scroll-list {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding: 8px 32px;
  }
  .about-us__text {
    padding-top: 16px;
    padding-left: 8px;
    width: 490px;
  }
  .about-us__banner {
    min-width: 531px;
    height: 307px;
    padding-top: 7px;
  }
  .about-us .about-us__text + .about-us__text {
    height: auto;
  }
  .tabled--hidden {
    display: flex;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */
